# Android / Gradle
.gradle
/build
/local.properties
.externalNativeBuild
.cxx
/captures
out/

# Android Studio / IntelliJ
*.iml
.idea/*
!.idea/codeStyles
!.idea/runConfigurations

# OS
.DS_Store

# Logs
*.log
